/* You can add global styles to this file, and also import other style files */

input:focus {
  outline: none;
}

@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Poppins-bold';
  src: url('./fonts/Poppins-Bold.ttf') format('opentype');
  font-style: normal;
  font-display: swap;
}

.p-toast
{
  margin-bottom: 3220px;
}

.p-toast-message-icon {
  margin-top: 2.7px;
}
.lightPaginator {
  background-color: rgba(243, 244, 246, 0.5) !important;
  border: none !important;
  color: black;
}

.darkPaginator {
  border: none !important;
  background-color: rgba(9, 9, 11, 1) !important;
  color: white;
}
