<div class="container w-full min-h-screen mx-auto flex justify-center items-center">
  <div class="content-container flex flex-col items-center gap-4 w-full">
    <div class="text-container flex flex-col items-center gap-2">
      <circle-icon></circle-icon>
      <div><h1 class="text-3xl xl:text-3xl text-blue-100">Login</h1></div>
      <div><h2 class="text-md text-blue-100/50">Faça login para acessar sua conta</h2></div>
    </div>

    <form
      autocomplete="false"
      class="flex w-full justify-center font-semibold"
      #form="ngForm"
      (ngSubmit)="login(form)"
    >
      <div
        class="form-container flex flex-col min-w-9/12 sm:min-w-8/12 lg:min-w-6/12 xl:min-w-5/12 2xl:min-w-4/12 gap-5 bg-stone-900/40 ring-1 ring-gray-400/30 p-8"
      >
        <div class="form-group flex flex-col text-start gap-0.5">
          <label for="email" class="text-blue-100/90">Email</label>
          <input
            autocomplete="off"
            id="email"
            [(ngModel)]="User.email"
            #email="ngModel"
            name="email"
            required
            placeholder="seu@email.com"
            class="bg-stone-900/40 ring-1 ring-gray-400/30 rounded-sm text-white font-normal placeholder:font-extralight placeholder:text-gray-300/20 py-2 px-2"
            pattern="^[a-zA-Z0-9.!#$%&&#39;*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?)*$"
          />

          <ng-container *ngIf="form.submitted">
            <ng-container *ngIf="email.errors?.['required']">
              <p-message severity="error" variant="simple" size="small"
                >Email é obrigatório!</p-message
              >
            </ng-container>

            <ng-container *ngIf="email.errors?.['pattern']">
              <p-message severity="error" variant="simple" size="small">Email inválido!</p-message>
            </ng-container>
          </ng-container>
        </div>

        <div class="form-group flex flex-col text-start gap-0.5">
          <label for="senha" class="text-blue-100/90">Senha</label>
          <input
            id="senha"
            [(ngModel)]="User.password"
            #password="ngModel"
            name="password"
            required
            minlength="8"
            type="password"
            placeholder="********"
            class="bg-stone-900/40 ring-1 ring-gray-400/30 rounded-sm text-white font-normal placeholder:font-extralight placeholder:text-gray-300/20 py-2 px-2"
          />

          <!-- pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/"  -->

          <ng-container *ngIf="form.submitted && password.errors?.['required']">
            <p-message severity="error" variant="simple" size="small"
              >Senha é obrigatória!</p-message
            >
          </ng-container>
        </div>

        <div class="form-group-text flex flex-col justify-center text-center gap-2">
          <button
            class="bg-indigo-600 h-11 rounded-md hover:cursor-pointer hover:bg-indigo-900 transition-all duration-300 text-blue-100"
          >
            Entrar
          </button>
          <h2 class="text-blue-100/60">
            Não tem conta? <a [routerLink]="['/register']" class="text-indigo-600">Criar conta</a>
          </h2>

          <ng-container *ngIf="form.submitted && LoginMensagemErro == true">
            <p-message severity="error">Email ou senha inválidos!</p-message>
          </ng-container>
        </div>
      </div>
    </form>
  </div>
</div>
