.my-button {
  font-size: 0.875rem;

  border-radius: 10px;
  padding: 0.25rem 0.75rem;
  transition: transform 0.2s;
  cursor: pointer;
}

.my-button:hover {
  transform: scale(1.05);
}

.active {
  font-weight: bold;
  color: whitesmoke;
  background-color: #4f46e5;
  border: none;
}

.cdk-drag-preview {
  border: none;

  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: 4px;
  border-radius: 12px;
  box-shadow: 10px 10px 5px 10px black;
  background-color: rgb(5, 2, 2);
  color: white;
  list-style: none;
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 1ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks:last-child {
  border: none;
}
.list.cdk-drop-list-dragging .task-container:not(.cdk-drag-placeholder) {
  transition: transform 1ms cubic-bezier(0, 0, 0.2, 1);
}

.p-toast {
  width: 20rem;
}

.darkmode {
  width: 500px;
  padding: 2px;
  border-radius: 2px;
  background-color: black;
  margin: 8px;
}

.p-paginator {
  width: 500px;
  padding: 2px;
  border-radius: 2px;

  margin: 8px;
}

.p-paginator {
  background-color: white;
}

@media (max-width: 1000px) {
  .p-toast {
    width: 17rem;
    height: 3px;
  }
}

@media (max-height: 1000px) {
  .p-paginator {
    width: 60%;
    height: 50px;
    background-color: black;

    color: rgba(156, 163, 175, 0.7);
    background-color: #09090b;
    border: 1px solid #4b5563;
  }
}
