<div class="container mx-auto w-full min-h-screen flex justify-center">
  <div class="content-container w-full flex mt-3">
    <div class="items flex flex-col gap-1 w-full">
      <!-- Cabeçalho -->
      <div class="text-content text-center grid grid-cols-4">
        <div class="text-top col-start-2 col-end-4 flex flex-col gap-1">
          <h1 class="text-5xl xl:text-3xl text-gray-900 dark:text-white font-bold">Tesky</h1>
          <h2 class="text-sm text-gray-600 dark:text-blue-100/50">Organize suas tarefas</h2>
        </div>

        <div class="icons-top flex flex-row col-start-4 col-end-5 gap-2 mt-1 ml-8 sm:ml-0 w-5 h-5">
          <lucide-icon
            (click)="Loggout()"
            [img]="LogOutIcon"
            class="dark:text-white border-gray-300 bg-car cursor-pointer transition hover:scale-95"
          ></lucide-icon>
          <lucide-icon
            (click)="switchTeme()"
            [img]="ligthMode ? MoonStar : Sun"
            class="inline-flex dark:text-white cursor-pointer transition hover:scale-95"
          ></lucide-icon>
        </div>
      </div>

      <!-- Status das listas -->
      <div
        class="status-container flex justify-between gap-7 min-w-11/12 lg:min-w-7/12 m-2 mx-auto"
      >
        <div
          class="w-full bg-white text-gray-600 border-gray-300 dark:bg-stone-900/40 ring-1 ring-gray-500/20 dark:ring-gray-400/30 rounded-sm dark:text-gray-100/30 py-2 px-2 text-center"
        >
          <span class="dark:text-white text-3xl">{{ totalTasks }}</span>
          <p class="text-sm">Total</p>
        </div>
        <div
          class="w-full bg-white text-gray-900 border-gray-300 dark:bg-stone-900/40 ring-1 ring-gray-500/20 dark:ring-gray-400/30 rounded-sm dark:text-gray-100/30 py-2 px-2 text-center"
        >
          <span class="text-3xl text-indigo-400">{{ activeTasks }}</span>
          <p class="text-sm">Ativas</p>
        </div>
        <div
          class="w-full bg-white text-gray-900 border-gray-300/10 dark:bg-stone-900/40 ring-1 ring-gray-500/20 dark:ring-gray-400/30 rounded-sm dark:text-gray-100/30 py-2 px-2 text-center"
        >
          <span class="text-3xl text-green-400">{{ completedTasks }}</span>
          <p class="text-sm">Concluídas</p>
        </div>
      </div>

      <!-- Inserir tarefas -->
      <div class="input-container flex justify-between gap-2 min-w-11/12 lg:min-w-7/12 m-2 mx-auto">
        <input
          [(ngModel)]="NewTask"
          type="text"
          placeholder="Digite sua tarefa..."
          class="w-full ring-1 ring-gray-500/20 bg-white text-gray-900 dark:bg-zinc-800/40 dark:border-zinc-700 dark:text-blue-100 rounded-sm placeholder:text-gray-600 dark:placeholder:text-zinc-500 py-2 px-3"
        />

        <button
          label="Info"
          severity="info"
          class="bg-indigo-600 min-w-12 h-12 rounded-md text-white dark:text-black text-3xl pb-0.5 transition hover:scale-90 cursor-pointer"
          (click)="AddTask()"
        >
          +
        </button>
      </div>

      <!-- Botões p filtro de lista -->
      <div
        class="selectbuttons-container flex gap-2 min-w-11/12 lg:min-w-7/12 m-2 mx-auto dark:text-gray-600"
      >
        <button
          [ngClass]="{ active: activeFilter == 'Total' }"
          class="my-button ring-1 ring-gray-500/20 text-gray-600"
          (click)="Filter('Total')"
        >
          Total
        </button>
        <button
          [ngClass]="{ active: activeFilter == 'Actives' }"
          class="my-button ring-1 ring-gray-500/20 text-gray-600"
          (click)="Filter('Actives')"
        >
          Ativas
        </button>
        <button
          [ngClass]="{ active: activeFilter == 'Completed' }"
          class="my-button ring-1 ring-gray-500/20 text-gray-600"
          (click)="Filter('Completed')"
        >
          Concluídas
        </button>
      </div>

      <ng-container *ngIf="taskView.length < 1">
        <div class="flex items-center justify-center min-h-[calc(100vh-420px)] px-4 sm:px-6">
          <div
            class="w-full max-w-md sm:max-w-lg rounded-2xl border border-gray-200 dark:border-zinc-700 bg-white dark:bg-zinc-900 shadow-md dark:shadow-none px-6 sm:px-10 py-8 sm:py-12 text-center transition-all duration-300"
          >
            <p
              class="font-bold tracking-tight text-xl sm:text-2xl text-gray-800 dark:text-zinc-100"
            >
              Nenhuma tarefa criada
            </p>

            <p class="mt-2 sm:mt-3 text-sm sm:text-base text-gray-500 dark:text-zinc-400">
              Crie sua primeira tarefa para começar a se organizar
            </p>
          </div>
        </div>
      </ng-container>

      <!-- Lista de tasks -->
      <div
        class="list-container mt-4 sm:mt-0 w-full h-full flex justify-center xl:items-start lg:mt-4"
        [ngClass]="{ 'lg:items-center, mt-2': taskView.length >= 4 }"
      >
        <div
          class="list-content max-w-11/12 dark:text-white min-w-11/12 lg:min-w-7/12 lg:max-w-96 mx-auto"
        >
          <ul
            cdkDropList
            (cdkDropListDropped)="drop($event)"
            class="list flex flex-col gap-4 md:gap-6 xl:gap-6 transform xl:mb-4"
          >
            <ng-container *ngFor="let task of taskView">
              <div
                cdkDrag
                class="task-container transform bg-gray-300/80 hover:bg-gray-50 dark:bg-stone-900/40 ring-2 ring-gray-500/80 dark:ring-gray-400/30 rounded-xl text-2xl gap-5 p-5 flex flex-row transition hover:scale-105 dark:hover:bg-black"
              >
                <div class="checkbox flex items-center mt-0.5">
                  <p-checkbox
                    (onChange)="onCompleteTask(task)"
                    inputId="size_small"
                    name="size"
                    value="small"
                    [(ngModel)]="task.completed"
                    [binary]="true"
                  />
                </div>

                <li
                  [ngClass]="{
                    hidden: editMode && task.id == taskToEdit,
                    visible: !editMode || task.id != taskToEdit,
                    'line-through not-dark:text-gray-400 dark:text-gray-600/60': task.completed
                  }"
                  class="tasks flex-1 items-center text-ellipsis text-nowrap overflow-hidden"
                >
                  {{ task.description }}
                </li>

                <input
                  [ngClass]="{
                    visible: editMode && task.id == taskToEdit,
                    hidden: !editMode || task.id != taskToEdit
                  }"
                  [(ngModel)]="taskEdit"
                  type="text"
                  placeholder="Digite sua tarefa..."
                  class="flex-1 mt-0.5 w-40 text-sm bg-zinc-800/40 text-blue-100 rounded-md placeholder:text-zinc-500 py-2 px-3"
                />

                <div class="flex flex-row gap-4 items-center">
                  <lucide-icon
                    (click)="EditTask(task)"
                    [img]="editMode ? Check : Pencilicon"
                    class="cursor-pointer transition hover:scale-95"
                    [ngClass]="{ 'text-green-400': editMode, 'text-blue-400 ': !editMode }"
                  ></lucide-icon>

                  <lucide-icon
                    (click)="editMode ? EditTask() : RemoveTask(task)"
                    [img]="editMode ? X : Trash2"
                    class="text-red-500/70 cursor-pointer transition hover:scale-95"
                  ></lucide-icon>
                </div>
              </div>
            </ng-container>
          </ul>
        </div>
      </div>

      <!-- Paginacao -->
      <div class="paginator-container flex w-full justify-center items-center">
        <p-paginator
          [ngClass]="ligthMode ? 'lightPaginator' : 'darkPaginator'"
          (onPageChange)="onPageChange($event)"
          [first]="0"
          [rows]="rowsPerPage"
          [totalRecords]="totalrecords"
        ></p-paginator>
      </div>
    </div>
  </div>
</div>
